
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-sellsy:before { content: '\f213'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */